*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}


.container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
	width:auto;
}

.card{
	margin: 0 auto;
	padding: 52px 46px;
	border-radius:20px;
	background-color:#e3d3d361;
	box-shadow:0 0 10px #afa3a3;
	text-align:center;
	position:relative;
	height:176px;
}
.card i{
	position:absolute;
	top:-25px;
	left:149px;
	font-size:25px;	
	border-radius:50%;
	padding:12px 14px;
	color:orange;
	background-color:#f4eeee;
	box-shadow:0 0 10px #aca8a8;
}

.content{
     font-family: 'Abel', sans-serif;
	 color:#666666;
	font-size:28px;
}
.para{
	font-family: 'Wire One', sans-serif;
	font-size:30px;
}